<div class="modal-header">
  <h5 class="modal-title">Sucursal</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div>
  <div class="container mt-3">
    <!-- Formulario de Sucursal -->
    <form>
      <div class="row">
        <!-- Código de la Sucursal -->
        <div class="col-md-6 mb-3">
          <label for="codigoSucursal">Código</label>
          <input 
            type="text" 
            [(ngModel)]="sucursalNuevo.codigo" 
            class="form-control" 
            id="codigoSucursal" 
            name="codigo"
            placeholder="Código de la sucursal" 
            required>
        </div>

        <!-- Nombre de la Sucursal -->
        <div class="col-md-6 mb-3">
          <label for="nombreSucursal">Nombre de la Sucursal</label>
          <input 
            type="text" 
            [(ngModel)]="sucursalNuevo.nombre" 
            class="form-control" 
            id="nombreSucursal" 
            name="nombre"
            placeholder="Nombre de la sucursal" 
            required>
        </div>
      </div>

      <div class="row">
        <!-- Dirección de la Sucursal -->
        <div class="col-md-6 mb-3">
          <label for="direccionSucursal">Dirección</label>
          <input 
            type="text" 
            class="form-control" 
            id="direccionSucursal" 
            placeholder="Dirección de la sucursal" 
            [(ngModel)]="sucursalNuevo.direccion"
            name="direccion"
            required>
        </div>

        <!-- Teléfono de la Sucursal -->
        <div class="col-md-6 mb-3">
          <label for="telefonoSucursal">Teléfono</label>
          <input 
            type="tel" 
            class="form-control" 
            id="telefonoSucursal" 
            placeholder="Número de teléfono" 
            [(ngModel)]="sucursalNuevo.telefono"
            name="telefono"
            required>
        </div>
      </div>

      <div class="row">
        <!-- Correo Electrónico de la Sucursal -->
        <div class="col-md-6 mb-3">
          <label for="emailSucursal">Correo Electrónico</label>
          <input 
            type="email" 
            class="form-control" 
            id="emailSucursal" 
            placeholder="Correo electrónico" 
            [(ngModel)]="sucursalNuevo.correo"
            name="emailSucursal"
            required>
        </div>

        <!-- Fecha de Apertura -->
        <div class="col-md-6 mb-3">
          <label for="fechaApertura">Fecha de Apertura</label>
          <input 
            type="date" 
            class="form-control" 
            [(ngModel)]="sucursalNuevo.fecha"
            name="fechaApertura"
            required>
        </div>
      </div>

      <div class="row">
        <!-- Empresa -->
        <div class="col-md-6 mb-3">
          <label for="empresa">Empresa</label>
          <select [(ngModel)]="sucursalNuevo.empresa" class="form-select" id="empresa" name="empresa" required name="empresa">
            <option [ngValue]="null" disabled sucursalSelect>Seleccione una empresa</option>
            <option *ngFor="let emp of empresas" [ngValue]="emp">{{emp.nombre}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
</div>
