<div class="modal-header">
    <h5 class="modal-title">Sucursal</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div>
    <div class="container mt-5">
        <!-- Formulario de Sucursal -->
            <form>
                <!-- Nombre de la Sucursal -->
                <div class="form-group mb-3">
                    <label for="nombreSucursal">Nombre de la Sucursal</label>
                    <input type="text" class="form-control" id="nombreSucursal" placeholder="Nombre de la sucursal"
                        required>
                </div>

                <!-- Dirección de la Sucursal -->
                <div class="form-group mb-3">
                    <label for="direccionSucursal">Dirección</label>
                    <input type="text" class="form-control" id="direccionSucursal"
                        placeholder="Dirección de la sucursal" required>
                </div>

                <!-- Teléfono de la Sucursal -->
                <div class="form-group mb-3">
                    <label for="telefonoSucursal">Teléfono</label>
                    <input type="tel" class="form-control" id="telefonoSucursal" placeholder="Número de teléfono"
                        required>
                </div>

                <!-- Correo Electrónico de la Sucursal -->
                <div class="form-group mb-3">
                    <label for="emailSucursal">Correo Electrónico</label>
                    <input type="email" class="form-control" id="emailSucursal" placeholder="Correo electrónico"
                        required>
                </div>


                <!-- Fecha de Apertura -->
                <div class="form-group mb-3">
                    <label for="fechaApertura">Fecha de Apertura</label>
                    <input type="date" class="form-control" id="fechaApertura" required>
                </div>

            </form>
    </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar</button>

</div>