<div class="modal-header">
    <h5 class="modal-title">Forma de pago</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Este es el contenido del modal.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar cambios</button>
  </div>
  