<div class="modal-header">
    <h5 class="modal-title">Forma de pago</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card shadow-sm mb-4 p-3 rounded">
                <table class="table table-striped table-hover table-responsive">
                    <thead class="table-dark">
                        <tr>
                            <th>Forma de Pago</th>
                            <th>Agregar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let forma of formaPago">
                            <td>{{ forma.nombre }}</td>
                            <td class="text-center">
                              <button class="btn btn-success btn-sm rounded-circle" (click)="Agregar(forma)">
                                <i class="fas fa-check"></i>
                              </button>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <label for="producto">Cantidad $</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="totalFormaPago" name="cantidad" placeholder="Ingrese la cantidad">
                <button class="btn btn-outline-secondary" type="button" (click)="guardar()">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
     

        <div class="col-md-6">
            <label for="producto">Total Venta $</label>
            <div class="input-form">
                <input type="text" class="form-control" [(ngModel)]="totalVenta" name="totalVenta" placeholder="Total Venta" readonly> 
            </div>
            <label for="producto">Efectivo $</label>
            <div class="input-form">
                <input type="text" class="form-control" [(ngModel)]="efectivo" name="efectivo" placeholder="Efectivo" readonly> 
            </div>
            <label for="producto">Cambio $</label>
            <div class="input-form">
                <input type="text" name="cambio" [(ngModel)]="cambio" class="form-control" placeholder="Cambio" readonly> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm mb-4 p-3 rounded table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Forma Pago</th>
                            <th>Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr *ngFor="let forma of formaPagoOperacionList">
                                <td>{{ forma.formasPago?.nombre }}</td>
                                <td>{{ forma.total }}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm rounded-circle me-2" (click)="eliminarFormaPago(forma)">
                                        <i class="fas fa-trash"></i>
                                      </button>
                                </td>
                              
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="guardarOperacion()">Guardar</button>
</div>