.navbar-content {
    background-color: #014c8d; /* Color gris oscuro */
    border-bottom: 1px solid #014c8d;
  }
  
  .navbar-content .navbar-brand {
    color: #ffffff; /* Texto blanco */
  }
  
  .navbar-content .nav-link {
    color: #e9ecef; /* Color del texto de los links */
  }
  
  .navbar-content .nav-link:hover {
    color: #f8f9fa; /* Color al pasar el mouse */
  }