<div class="container mt-4">
  <!-- Cabecera de la Factura -->
  <div class="card shadow-sm p-4 mb-4 rounded">
    <h3 class="mb-4 text-center">Producto</h3>

    <!-- Sección de Producto y Datos de Factura -->
    <div class="container">
      <!-- Primera Fila -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="producto">Nombre del producto</label>
          <input type="text" [(ngModel)]="productoNuevo.nombre" class="form-control" name="nombre" placeholder="Ingrese el nombre del producto">
        </div>

        <div class="col-md-6">
          <label for="descripción">Descripción del producto</label>
          <input type="text" [(ngModel)]="productoNuevo.descripcion" name="descripcion" class="form-control" placeholder="Ingrese la descripción del producto">
        </div>
      </div>

      <div class="row mb-3">
        <!-- Categoría -->
        <div class="form-group mb-3 col-md-6">
          <label for="categoriaProducto" >Categoría</label>
          <select class="form-select" [(ngModel)]="productoNuevo.categoria" id="categoriaProducto" name="categoriaProducto" required>
            <option [ngValue]="null" disabled selected>Seleccione la categoria</option>
          <option *ngFor="let dato of categorias" [ngValue]="dato">{{dato.nombre}}</option>
          </select>
        </div>
      
     
         <!-- Imagen del Producto -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="imagenProducto">Imagen del Producto</label>
          <input 
            type="file" 
            class="form-control" 
            name="iamgen"
            accept="image/*" (change)="onLogoSelect($event)">
        </div>
        <div class="col-md-6 text-center">
          <!-- Vista previa de la imagen -->
          <label for="preview">Vista previa</label>
          <div class="border p-2" style="height: 150px; overflow: hidden;">
            <img 
              *ngIf="imagenPreview" 
              [src]="imagenPreview" 
              alt="Vista previa" 
              style="max-height: 100%; max-width: 100%;">
          </div>
        </div>
      </div>
    

        <div class="col-md-3 d-flex align-items-end">
          <button class="btn btn-success w-100" (click)="openModalAgregar ()">Agregar Unidad de medida</button>
        </div>
      </div>

    </div>

    <!-- Cuerpo de la Factura (Tabla de Productos) -->
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Factor de Conversión</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of unidadMedidaProducto">
              <td>{{data.unidadMedida?.nombre}}</td>
              <td>{{data.unidadMedida?.abreviatura}}</td>
              <td>{{data.unidadMedida?.factor}}</td>
           
            <td> 
              <input type="text" class="form-control" placeholder="Ingrese el precio del producto" [(ngModel)]="data.precio">
            </td>
            <td>
              <button class="btn btn-danger btn-sm rounded-circle me-2" (click)="eliminarUnidadmedida(data)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
        </tbody>
      </table>
    </div>

  
  </div>

  <!-- Botones de acciones adicionales -->
  <div class="row mt-4">
    <div class="col-md-4">
      <button class="btn btn-primary w-100" (click)="guardar()">Guardar Producto</button>
    </div>

  </div>
</div>