<mat-card class="card-container">
    <mat-card-content>
      <mat-list>
        <div mat-subheader>
        </div>
  
        <br>
        <div mat-subheader class="mat-sm" >
          <form class="form-inline d-flex align-items-center" >
            <input class="form-control mr-1" type="search" placeholder="Nombre" aria-label="Search" name="search" style=" height: 58px; width: 100px; margin-bottom: 20px;">
            
              <!--fechas-->

              <mat-form-field style="margin-left: 2rem;" >
                <mat-label>Fecha Inicio - Fecha  Fin</mat-label>

                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>


              <!--COMBO PARA SUCURSAL-->

              
<mat-form-field style="margin-left: 2rem;">
  <mat-label>Sucursal</mat-label>
  <mat-select [(value)]="selectedFood">
    <mat-option></mat-option>
    @for (option of foods; track option) {
      <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
    }
  </mat-select>
</mat-form-field>



<mat-form-field style="margin-left: 2rem;">
  <mat-label>Tipo Operación</mat-label>
  <mat-select [(value)]="selectedCar">
    <option value=""></option>
    @for (option of cars; track option) {
      <mat-option [value]="option.value"
      [value]="option.value">{{ option.viewValue }}</mat-option>
    }
  </mat-select>
</mat-form-field>


              
              
            

            <button class="btn btn btn-outline-primary" style="margin-left: 2rem; height: 58px; width: 100px; margin-bottom: 20px;" type="submit">Buscar</button>
  
           
  
           
            <!--<div >
              <mat-spinner></mat-spinner> Generando...
          </div>-->
          </form>
        </div>
  
        <br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-3 tht">Codigo</th>
              <th class="col-md-3 tht">Nombre</th>
              <th class="col-md-3 tht">Apellido</th>
              <th class="col-md-3 tht">Estado</th>
              <th class="col-md-3 tht">Acciones</th>
            </tr>
          </thead>
          <tbody>
            
  
  
  
              <td class="align-middle">000</td>
              <td class="align-middle">EDGAR</td>
              <td class="align-middle">AYALA</td>
              <td class="align-middle">PAGADA</td>
              <td class="form-inline d-flex align-items-center">
                <button type="button" class="btn btn-primary rounded-circle" style=" margin-right: 3px;"
                  >
                  <mat-icon>visibility</mat-icon> <!-- Ojo abierto -->
                </button>
                <button type="button" class="btn btn-danger rounded-circle" style="margin-right: 3px;"
                 >
                  <mat-icon>delete</mat-icon>
                </button>
                <button type="button" class="btn btn-default rounded-circle" style="margin-right: 3px;"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
        
          </tbody>
        </table>
  
  
      </mat-list>
    </mat-card-content>
    <nav aria-label="Page navigation example" style="margin-top: 15px;">
      <ul class="pagination justify-content-end">
        <li class="page-item" style="margin-left: 25px; margin-right: 25px;">
          <div>Items por pagina </div>
        </li>
        <li class="page-item">
          <div>pagina</div>
        </li>
        <li class="page-item" style="margin-left: 25px;">
          <div> hasta</div>
        </li>
        <li class="page-item">
          <a style="margin: 15px; margin-top: 25px;" ><mat-icon
              style="color: black; cursor:pointer;">skip_previous</mat-icon></a>
        </li>
        <li class="page-item ">
          <a style="margin: 15px; " ><mat-icon
              style="color: black; cursor:pointer;">skip_next</mat-icon></a>
        </li>
      </ul>
    </nav>
    
  
  </mat-card>
  <br>

  <div>
    <button type="button" class="btn btn btn-outline-primary" style=" width: 100px; margin-right: 15px;">Agregar</button>
    <button type="button" class="btn btn btn-outline-success" style=" width: 200px; margin-right: 15px;">Reenviar DTE</button>
    <button type="button" class="btn btn btn-outline-success" style=" width: 200px; margin-right: 15px;">Errores DTE</button>
    <button type="button" class="btn btn btn-outline-success" style=" width: 200px; margin-right: 15px;">Forma de pago</button>
  
  </div>
