[7:00 a.m., 11/11/2024] Javier: <div class="container mt-4">
  <!-- Cabecera de la Factura -->
  <div class="card p-3 mb-4">
    <h3>Factura</h3>

    <!-- Sección de Cliente y Datos de Factura -->
    <div class="row mb-3">
      <!-- Cliente Nombre -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cliente</mat-label>
          <input type="text" matInput [matAutocomplete]="autoCliente" />
          <mat-autocomplete #autoCliente="matAutocomplete">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.nombre">
              {{ cliente.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
      <!-- Botón Nuevo Cliente -->
      <div class="col-md-2 d-flex align-items-end">
        <button mat-raised-button color="primary" class="w-100">Nuevo Cliente</button>
      </div>
    </div>

    <!-- Dirección y Ubicación -->
    <div class="row mb-3">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Dirección del cliente" />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Departamento</mat-label>
          <mat-select>
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
              {{ departamento }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Municipio</mat-label>
          <mat-select>
            <mat-option *ngFor="let municipio of municipios" [value]="municipio">
              {{ municipio }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Distrito</mat-label>
          <mat-select>
            <mat-option *ngFor="let distrito of distritos" [value]="distrito">
              {{ distrito }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Otros datos de Factura -->
    <div class="row mb-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>NIT</mat-label>
          <input matInput placeholder="NIT del cliente" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Vendedor</mat-label>
          <input matInput placeholder="Nombre del vendedor" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fecha de Creación</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Fecha" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tipo de Operación</mat-label>
          <mat-select>
            <mat-option *ngFor="let tipo of tiposOperacion" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Cuerpo de la Factura (Tabla de Productos) -->
  <div class="card mb-4 p-3">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.codigo }} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.descripcion }} </td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.cantidad }} </td>
      </ng-container>

      <ng-container matColumnDef="descuento">
        <th mat-header-cell *matHeaderCellDef> Descuento </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.descuento | percent }}</td>
      </ng-container>

      <ng-container matColumnDef="valorUnitario">
        <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.valorUnitario | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="exento">
        <th mat-header-cell *matHeaderCellDef> Exento </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.exento | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="iva">
        <th mat-header-cell *matHeaderCellDef> IVA </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.iva | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let producto"> {{ producto.total | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let producto">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Pie de la Factura -->
  <div class="card p-3">
    <div class="row mb-3">
      <div class="col-md-3">
        <h5>Subtotal: {{ subtotal | currency }}</h5>
      </div>
      <div class="col-md-3">
        <h5>IVA: {{ iva | currency }}</h5>
      </div>
      <div class="col-md-3">
        <h5>Retención: {{ retencion | currency }}</h5>
      </div>
      <div class="col-md-3">
        <h5>Total Venta: {{ totalVenta | currency }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button mat-raised-button color="primary" class="w-100">Agregar Producto</button>
      </div>
      <div class="col-md-3">
        <button mat-raised-button color="accent" class="w-100">Guardar Factura</button>
      </div>
      <div class="col-md-3">
        <button mat-raised-button color="warn" class="w-100">Reimprimir Factura</button>
      </div>
    </div>
  </div>
</div>
