<div class="modal-header">
    <h5 class="modal-title">Agregar Remesa</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container mt-3">
      <!-- Formulario -->
      <form>
        <!--select sucurdsal-->
        <div class="form-group mb-3">
            <label for="sucursal">Sucursal</label>
            <select [(ngModel)]="remesaNuevo.sucursal" class="form-select" id="sucursal" name="sucursal" required name="sucursal">
              <option [ngValue]="null" selected>Seleccione una sucursal</option>
              <option *ngFor="let dato of sucursales"  [ngValue]="dato">{{dato.nombre}}</option>
            </select>
          </div>
          
        <!-- N° caja -->
        <div class="form-group mb-3">
          <label for="caja">N° Caja</label>
          <select [(ngModel)]="remesaNuevo.caja" class="form-select" id="caja" name="caja" required>
            <option [ngValue]="null" selected>Seleccione una caja</option>
            <option *ngFor="let dato of cajas" [ngValue]="dato">{{dato.id}}</option>
          </select>
        </div>
        <!-- cantidad -->
        <div class="form-group mb-3">
          <label for="cantidad">Cantidad</label>
          <input type="text" [(ngModel)]="remesaNuevo.cantidad" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad" required>
        </div>
  

      </form>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar Remesa</button>
  </div>