<!-- Buscador Mejorado -->
<!-- Filtros y buscador -->
<!-- Filtros y buscador -->
<div class="container-fluid mt-3">
  <div class="card border shadow-sm">
    <div class="card-body">
      <div class="row justify-content-center mb-2 g-2">
        <!-- Buscador -->
        <div class="col-md-4">
          <div class="input-group shadow-sm">
            <input class="form-control form-control-sm" [(ngModel)]="filtroNombre" (input)="loadProducto()"
              placeholder="Nombre del producto" />
          </div>
        </div>
        <!-- Filtro Descripción -->
        <div class="col-md-3">
          <input class="form-control form-control-sm" [(ngModel)]="filtroDescripcion" (input)="loadProducto()"
            placeholder="Descripción del producto" />
        </div>
        <!-- Filtro Categoría -->
        <div class="col-md-3">
          <select class="form-select" [(ngModel)]="filtroCategoria" id="filtroCategoria" name="filtroCategoria" required
            (click)="loadProducto()">
            <option [ngValue]="null" selected>Seleccione la categoria</option>
            <option *ngFor="let dato of categorias" [ngValue]="dato.id">{{dato.nombre}}</option>
          </select>
        </div>




      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let card of producto; let i = index">
      <mat-card class="shadow-sm border border-primary" appearance="outlined">
        <img mat-card-image [src]="imagenRuta + card.nombreImagen" alt="Imagen no disponible"
          class="img-fluid mx-auto d-block" style="height: 200px; object-fit: cover;" />

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="fw-bold">{{ card.codigo }}</mat-card-title>
        </mat-card-header>

        <mat-card-subtitle class="px-3">{{ card.nombre }}</mat-card-subtitle>

        <mat-card-content class="mt-2 px-3">
          <p class="text-muted">
            {{ card.descripcion }}
          </p>
        </mat-card-content>

        <!-- Botón para ver/ocultar precios -->
        <mat-card-actions>
          <button mat-button color="primary" (click)="loadUnidadProducto(card.id)">
            {{ preciosVisible[card.id!] ? 'Ocultar precios' : 'Ver precios' }}
          </button>
        </mat-card-actions>

        <!-- Lista desplegable de precios, solo visible si preciosVisible es verdadero -->
        <div *ngIf="preciosVisible[card.id!]" class="px-3 pb-3">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let precio of unidadesMedidaProducto[card.id!]">
              {{ precio.unidadMedida?.descripcion }}
              <span class="badge bg-primary rounded-pill">
                {{ precio.precio | currency }}
              </span>
            </li>
          </ul>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Paginador -->
  <nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <span class="page-link">Página {{ page + 1 }} de {{ totalPages.length }}</span>
      </li>
      <li class="page-item" [class.disabled]="isFirst">
        <a class="page-link" (click)="paginaAnterior()">
          <i class="fas fa-step-backward"></i>
        </a>
      </li>
      <li class="page-item" [class.disabled]="isLast">
        <a class="page-link" (click)="paginaSiguiente()">
          <i class="fas fa-step-forward"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>