<div class="auth-wrapper d-flex align-items-center justify-content-center min-vh-100">
  <div class="auth-card mat-elevation-z6 rounded-3 p-4" style="width: 100%; max-width: 400px; background-color: white;">
    <div class="text-center">
      <img src="assets/images/logoTecno.png" alt="logo" class="img-fluid mb-3" style="max-height: 50px;" />
      <h4 class="mb-4 fw-bold text-primary">Iniciar Sesión</h4>
    </div>

    <form (ngSubmit)="formSubmit()">
      <!-- Usuario -->
      <mat-form-field class="w-100 mb-3" appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input [(ngModel)]="loginData.username" name="username" required matInput placeholder="Ingrese su usuario">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>El nombre de usuario debe ser válido</mat-hint>
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field class="w-100 mb-4" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input [(ngModel)]="loginData.password" name="password" required [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Ingrese su contraseña">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Toggle password visibility'" tabindex="-1">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint>La contraseña debe ser válida</mat-hint>
      </mat-form-field>

      <!-- Botones -->
      <div class="d-flex justify-content-center gap-3">
        <button type="reset" mat-raised-button color="accent">Limpiar</button>
        <button type="submit" mat-raised-button color="primary">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
