<div class="modal-header">
  <h5 class="modal-title">Caja</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <div class="container mt-3">
    <!-- Formulario -->
    <form>
      <div class="row">
        <!-- Sucursal -->
        <div class="col-md-6 form-group mb-3">
          <label for="sucursal">Sucursal</label>
          <select [(ngModel)]="cajaNuevo.sucursal" class="form-select" id="sucursal" name="sucursal" required>
            <option [ngValue]="null" selected>Seleccione una sucursal</option>
            <option *ngFor="let dato of sucursales" [ngValue]="dato">{{dato.nombre}}</option>
          </select> 
        </div>

        <!-- Fecha de Inicio -->
        <div class="col-md-6 form-group mb-3">
          <label for="fechaInicio">Fecha de Inicio</label>
          <input type="date" [(ngModel)]="cajaNuevo.fechaInicio" class="form-control" id="fechaInicio" name="fechaInicio" [readonly]="modoEdicion">
        </div>
      </div>

      <div class="row">
        <!-- Hora de Inicio -->
        <div class="col-md-6 form-group mb-3">
          <label for="horaInicio">Hora de Inicio</label>
          <input type="text" [(ngModel)]="cajaNuevo.horaInicio" class="form-control" id="horaInicio" name="horaInicio" placeholder="Hora Inicio" [readonly]="modoEdicion">
        </div>

        <!-- Fecha de Cierre -->
        <div class="col-md-6 form-group mb-3">
          <label for="fechaCierre">Fecha de Cierre</label>
          <input type="date" [(ngModel)]="cajaNuevo.fechaCierre" class="form-control" id="fechaCierre" name="fechaCierre" [readonly]="!modoEdicion">
        </div>
      </div>

      <div class="row">
        <!-- Hora de Cierre -->
        <div class="col-md-6 form-group mb-3">
          <label for="horaCierre">Hora de Cierre</label>
          <input type="text" [(ngModel)]="cajaNuevo.horaCierre" class="form-control" id="horaCierre" name="horaCierre" placeholder="Hora Cierre" [readonly]="!modoEdicion">
        </div>

        <!-- Efectivo de Apertura -->
        <div class="col-md-6 form-group mb-3">
          <label for="efectivoApertura">Efectivo de Apertura</label>
          <input type="number" [(ngModel)]="cajaNuevo.efectivoApertura" class="form-control" id="efectivoApertura" name="efectivoApertura" placeholder="Efectivo de Apertura" [readonly]="modoEdicion">
        </div>
      </div>

      <div class="row">
        <!-- Efectivo de Cierre -->
        <div class="col-md-6 form-group mb-3">
          <label for="efectivoCierre">Efectivo de Cierre</label>
          <input type="number" [(ngModel)]="cajaNuevo.efectivoCierre" class="form-control" id="afectivoCierre" name="afectivoCierre" placeholder="Efectivo de Cierre" [readonly]="!modoEdicion">
        </div>
      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="guardar()">Guardar Caja</button>
</div>
