<div class="modal-header">
  <h5 class="modal-title">Proveedor</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container mt-3">
    <!-- Formulario de Proveedor -->
    <form>
      <div class="row">
        <!-- Nombre del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="nombreProveedor">Nombre del Proveedor</label>
          <input type="text" [(ngModel)]="proveedorNuevo.nombre" class="form-control" id="nombreProveedor" name="nombreProveedor" placeholder="Nombre del proveedor" required>
        </div>
        <!-- Apellido del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="apellidoProveedor">Apellido del Proveedor</label>
          <input type="text" [(ngModel)]="proveedorNuevo.apellido" class="form-control" id="apellidoProveedor" name="apellidoProveedor" placeholder="Apellido del proveedor" required>
        </div>
      </div>

      <div class="row">
        <!-- Dirección del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="direccionProveedor">Dirección</label>
          <input type="text" [(ngModel)]="proveedorNuevo.direccion" class="form-control" id="direccionProveedor" name="direccionProveedor" placeholder="Dirección del proveedor" required>
        </div>
        <!-- Teléfono del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="telefonoProveedor">Teléfono</label>
          <input type="tel" [(ngModel)]="proveedorNuevo.telefono" class="form-control" id="telefonoProveedor" name="telefonoProveedor" placeholder="Número de teléfono" required>
        </div>
      </div>

      <div class="row">
        <!-- Correo Electrónico del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="emailProveedor">Correo Electrónico</label>
          <input type="email" [(ngModel)]="proveedorNuevo.correo" class="form-control" id="emailProveedor" name="emailProveedor" placeholder="Correo electrónico" required>
        </div>
        <!-- DUI del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="duiProveedor">DUI</label>
          <input type="text" [(ngModel)]="proveedorNuevo.dui" class="form-control" id="duiProveedor" name="duiProveedor" placeholder="DUI de el proveedor" required>
        </div>
      </div>

      <div class="row">
        <!-- NIT del Proveedor -->
        <div class="form-group col-md-6 mb-3">
          <label for="nitProveedor">NIT</label>
          <input type="text" [(ngModel)]="proveedorNuevo.nit" class="form-control" id="nitProveedor" name="nitProveedor" placeholder="NIT del proveedor" required>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="guardar()">Guardar Proveedor</button>
</div>
