.cursor-pointer {
    cursor: pointer;
  }
  
  .table-row-hover:hover {
    background-color: #ffffff;
    transition: background-color 0.1s;
  }
  

  button[name="agregar"]:focus,
button[name="agregar"]:active {
  outline: none !important;
  box-shadow: none !important;
  background-image: none !important;
  transform: none !important;
}

/* Productos */
.product-list {
  max-height: 430px;
  overflow-y: auto;
}
.product-list tr.selected {
  background-color: #e9f5ff;
  border-left: 4px solid #0d6efd;
}

/* Unidades */
.unit-list {
  max-height: 480px;
  overflow-y: auto;
}

/* Hover suave */
tr {
  transition: background-color 0.15s ease;
}

/* Inputs focus */
.form-control:focus {
  box-shadow: 0 0 0 0.15rem rgba(13,110,253,.25);
}

