.cursor-pointer {
    cursor: pointer;
  }
  
  .table-row-hover:hover {
    background-color: #ffffff;
    transition: background-color 0.1s;
  }
  

  button[name="agregar"]:focus,
button[name="agregar"]:active {
  outline: none !important;
  box-shadow: none !important;
  background-image: none !important;
  transform: none !important;
}
